/* general styles */

body {
    background: #ee588a
    /* background: linear-gradient(180deg, rgba(238,88,138,1) 39%, rgba(241,228,232,1) 91%); */
}

h1, h2 {
    font-family: 'Red Hat Display', sans-serif;
}

p, #navbar a {
    font-family: 'Raleway', sans-serif;
}

#intro, #projects, #about, #waiut, #contact {
    background-color: #e2dcde;
    border-radius: 25px;
    padding: 20px;
    margin: 2em;
}

/* navbar */
#navbar {
    background-color: #dddddd;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#navbar li a:hover {
    background-color: #111;
}
#navbar li a {
    /* display: inline;
    float: left; */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    float: left;
}
#navbar h1{
    font-size: 1.5rem;
    float: right;
    padding-right: 1.5em;
}

#intro{
    margin-top: 7em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
}
#intro p{
    grid-column: 1;
    text-align: justify;
}
#intro img{
    grid-column: 2;
    max-width: 100%;
    height: auto;
}

/* projects */
#projects{

}